*{
    margin: 0px;
    padding: 0px;
}
body{
    max-width: 1600px;
}
.display-flex{
    display: flex;
}

.titel-color{
    color: #9100F8;
}

.text-primary{
    background-image: linear-gradient(#F7E93F,#FB09B4 , #9100F8);
}

/* navbar */
nav{
    height: 92px;
    background-color: #412567;
}

.navbar{
    justify-content: space-around;
    text-align: center;
}

.nav-bin{
    display: none;
}

.brand{
    font-size: 45px;
    width: 219px;
    padding-top: 18px;
    text-align: center;
    color: white;
}

.nav-links{
    text-decoration: none;
    font-family: 500px;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
    color: white;
    margin-top: 20px;
}

.bln-primary{
    color:white;
    width: 135px;
    height: 44px;
    padding: 16px 12px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}

/* benner */
.banner{
    background-image: url(./assets/hero-bg.png);
    height: 760px;
    text-align: center;
    padding-top: 50px;
    display: grid;
}


.hero-position{
    width: 100%;
    position: relative;
    text-align: center;
    justify-content: center;
    /* margin-left: 0px; */
    margin-top: 50px;
    /* border-radius: 10px; */
}

.microphon-banner{
    margin-top: -17%;
    margin-left: 46%;
    position: absolute;
}

.bln-banner{
    background-color: #00FF88;
    color: black;
    border-radius: 20px;
    padding: 8px 16px;
    margin-top: -22%;
    margin-left: 4%;
    position: absolute;
}

.banner-containar{
    height: 167px;
    padding: 40px;
}

.banner-titel{
    font-size: 60px;
}

.banner-descriotion{
    font-size: 16px;
}

.bln-2{
    font-size: 16px;
    color: #00FF88;
    background-color: #1A0B2E;
    border: 1px solid #00FF88;
    width: 147px;
    height: 44px;
    border-radius: 20px;
}

/* about-section */
.about-section{
    background-color: #1A0B2E;
    height: 647px;
    padding: 50px;
}

.about-podcast,
.banner-content,
.h-description{
    color: white;
}

.about-titel,
.about-description{
    text-align: center;
}
.about-titel{
    font-size: 48px;
    padding-bottom: 20px;
}

.about-grad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 95px;
    padding: 200px;
}

.h-titel{
    color: #00FF88;
    font-size: 48px;
}

/* choose-techwave */

.choose-containar>*{
    background-color: #230E3D;
}

.choose-titel{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    font-size: 48px;
}

.choose-contend{
    padding: 100px;
    color: white;
    
}

.choose-h3{
    font-size: 24px;
    font-size: bold;
    
}

.choose-description{
    font-size: 16px;
}

.zap-fast{
    width: 60px;
    height: 60px;
}


#choose-headphone{
    grid-area: headphone;
    padding: 40px 40px;
    background-color: #351165;
    border-radius: 70px;
}

#choose-device{
    grid-area: device;
    padding: 40px;
    background-color: #351165;
    border-radius: 50px;
}

#choose-location{
    grid-area: location;
    padding: 40px;
    background-color: #351165;
    border-radius: 50px;
}

#choose-zap{
    grid-area: zap;
    padding: 40px;
    background-color: #351165;
    border-radius: 50px;
}

#choose-resourece{
    grid-area: resourece;
    padding: 40px;
    background-color: #351165;
    border-radius: 50px;
}

.choose-contend{
    display: grid;
    gap: 20px;
    grid-template-areas:
        "headphone  device      device"
        "headphone  location    location"
        "zap        zap         resourece"
}

/* featuced-section */
.featured-section{
    background-color: #1A0B2E;
    height: 539px;
    padding: 100px;
}

.featured-titel{
    text-align: center;
    font-size: 48px;
    padding: 20px;
    color: white;
}

.featured-containar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 440px;
    padding: 20px;
}

.box-description{
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-img{
    display: flex;
    gap: 10px;
    color: #00FF88;
}

/* host-section */
.host-section{
    background-color: #1A0B2E;
    height: 379px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.host-titel{
    color: white;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}


.host-containar{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 183px;
    /* padding: 60px; */
    /* gap: 20px; */
}

.host-img{
    margin-right: 20px;
}

.content-titel{
    padding-bottom: 20px;
    font-size: 32px;
}

.host-description{
    
    font-size: 16px;
    gap: 20px;
}

.host-icon{
    padding-top: 20px;
    gap: 20px;
    display: flex;

}

.host-icon-item{
    width: 30px;
    height: 30px;
}


@media screen and (max-width: 576px) {
    nav.navbar {
        /* flex-direction: column; */
        height: auto;
        padding: 20px 0;
    }

    .nav-links {
        display: none;
    }

    .banner {
        /* background-position: cover; */
        background: none;
        background-color: #1A0B2E;
        height: auto;
        padding: 40px 20px;
    }

    .microphon-banner {
        position: absolute;
        margin-top: -65%;
        margin-left: 30%;
        /* margin: 20px auto; */
    }

    .bln-banner {
        position: absolute;
        margin-top: -85%;
        margin-left: 7%;
    }

    .banner-titel {
        font-size: 36px;
        color: white;
    }

    .banner-descriotion{
        color: white;
    }

    .about-section {
        height: auto;
        padding: 40px 20px;
    }

    .about-grad {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 0;
        gap: 20px;
    }

    .choose-contend {
        padding: 40px 20px;
        grid-template-areas:
            "headphone"
            "device"
            "location"
            "zap"
            "resourece";
    }

    .featured-section {
        height: auto;
        padding: 40px 20px;
    }

    .featured-containar {
        flex-direction: column;
        gap: 30px;
        height: auto;
    }

    .host-section {
        height: auto;
        padding-bottom: 40px;
    }

    .host-containar {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 0 20px;
    }

    .host-img {
        margin: 0 0 20px 0;
        width: 150px;
    }

    .host-icon{
        text-align: center;
        justify-content: center;
    }
}

